#CalendarMain {
	width: 445px;
	height: 346px;
}
#title {
    position: relative;
	width: 100%;
	height: 65px;
	background-color: #FFFFFF;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.10);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.nextMonth {
	float: right;
}
.currentDay {
	float: right;
}
#context {
	background-color: #4DB6AC;
	width: 100%;
}
.week {
	width: 100%;
	height: 30px;
}
.week>h3 {
	float: left;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	font-size: 16px;
}
.dayItem {
	float: left;
}
.lastItem {
	opacity: 0.25;
}
.item {
	float: left;
	text-align: center;
	cursor: pointer;
	margin: 0;
	font-size: 14px;
}
.item>a{
	color: #FFFFFF;
}
.item:hover {
    background: #A6DAD5;
    border-radius: 32px;
}
.currentItem {
    background: #FFFFFF;
    border-radius: 32px;
}
.currentItem a{
	color: #4DB6AC;
}
#Container {
	overflow: hidden;
	float: left;
}
#center {
	width: 100%;
	overflow: hidden;
}
#centerMain {
	width: 300%;
	margin-left: -100%;
}
#selectYearDiv {
	float: left;
	background-color: #fff;
}
#selectYearDiv>div {
	float: left;
	text-align: center;
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
	color: #909090;
}
.currentYearSd, .currentMontSd {
	color: #ff4400 !important;
}
#selectMonthDiv {
	float: left;
	background-color: #fff;
}
#selectMonthDiv>div {
	color: #909090;
	float: left;
	text-align: center;
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
}
#selectYearDiv>div:hover, #selectMonthDiv>div:hover {
	background-color: #efefef;
}
#centerCalendarMain {
	float: left;
}

#title>div{
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    text-align: center;
}
#title>div>span{
    font-size: 18px;
    color: #384047;
}
#title>img{
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 10px;
    top:15px;
}
#title>img:hover{
    cursor:pointer;
    opacity: 0.8;
}
#title>img:active{
    opacity: 1;
}
#title>img:first-child{
    left: 30px;
}
#title>img:last-child{
    right: 30px;
}