/*footer Start*/
.footer_curr{
    min-width: 1200px;
    margin-top: 40px;
}
.footer_curr .container{
    border-top: 2px solid #E0E0E0;
    padding-top: 10px;
}
.footer_curr .container:after{content: "";display: block;clear: both;}
.footer_curr .container div,.footer_curr .container ul,.footer_curr .container li{
    float: left;
    font-size: 14px;
    color: #B7C0C7;
}
.footer_curr .container div:first-child{
    width:20%;
}
.footer_curr .container ul{
    width:60%;
}
.footer_curr .container ul li{
    margin-right: 20px;
}
.footer_curr .container div:last-child{
    width:20%;
    text-align: right;
}
.footer_curr a{
    font-size: 14px;
    color: #B7C0C7;
}
.footer_curr a:hover{
    color: #607D8B;
}
/*footer END*/