.head_cont{
    background-color: #303948;
    box-shadow: 0 2px 1px rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navbar1{
    height: 70px;
}
.not_logged_in{
    color:#8C96A5;
    font-size: 22px;
    font-weight: 600;
    line-height: 70px;
}
.not_logged_in>a{
    color: #FFFFFF;
    font-weight: bolder;
    float: left;
    font-size: 36px;
}
.not_logged_in>div{
    float: right;
    font-weight: 400;
    font-size: 22px;
}
.not_logged_in>div>ul:after{content: "";display: block;clear: both}
.not_logged_in>div>ul li{
    height: 70px;
    line-height: 70px;
    margin-left: 30px;
    color:#8A95A3;
}
.not_logged_in>div>ul li a{
    color:#8A95A3;
}
.not_logged_in>div>ul li:last-child{
    margin-left: 80px;
    color: #5ACD91;
}
.not_logged_in>div>ul li:last-child:hover{
    opacity: 0.8;
    cursor: pointer;
}
.not_logged_in a:hover{
    color: #FFFFFF;
}
.not_logged_in li{
    float: left;
    height:70px;
    line-height: 70px;
}
.navLeft_a{
    color: #FFFFFF!important;
    font-size: 36px;
}
.navLeft_a:hover{
    opacity: 0.8;
}
.navLeft_a:active{
    opacity:1;
}

/*。。。。。。。*/
.logins{
    height: 70px;
    line-height: 70px;
    color:#8C96A5;
    font-size: 22px;
    position: relative;
}
.logins a:hover{
    color: #FFFFFF;
}

.logins .navLeft{
    float: left;
}
.logins .navRight{
    float: right;
}

.logins nav,.logins nav ul{
    height:70px;
}
.logins li{
    float: left;
    height: 70px;
}

.navLeft div li{
    margin-left: 30px;
}
.navRight li{
    font-size: 20px;
    margin-right: 20px;
}
.logins .navshuxian{
    height:35px;
    border-left: 2px solid #8C96A5;
    margin-top: 18px;
}
.navLeft a{
    color: #8C96A5;
    text-decoration: none;
}
.navLeft_a{
    display: block;
    width: 230px;
    height: 70px;
    color: #FFFFFF!important;
    font-size: 36px;
}
.navLeft_a:hover{
    opacity: 0.8;
}
.navLeft_a:active{
    opacity:1;
}

.log{
    width: 230px;
    height: 70px;
    vertical-align: top;
}
.navLeft a:hover{
    color: #FFFFFF;
}
.headPLI{
    width: 50px;
    text-align: center;
    height: 70px;
}
.headPLI>a{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.headPLI>a>img{
    vertical-align:inherit;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    border-radius: 25px;
}
.headPLI>a>img:first-child{
    left: 1px;
    width: 48px;
    height: 48px;
    top: 1px;
}
.headPLI>a>img:nth-child(2){
    left: 0px;
}
.headPLI>a>img:last-child{
    width: 16px;
    height: 16px;
    top: 2px;
    right: 2px;
}
.headPLI>a:hover>img{
    box-shadow: 0px 2px 1px rgba(0,0,0,0.25);
    top: -1px;
}
.headPLI>a:hover>img:last-child{
    top: 1px;
}
.remind{
    height: 60px;
    padding-top: 10px;
}
.remind a:hover path{
    fill: #FFFFFF;
}