.video_play_svg_div{
    width:60px;
    height:60px;
    background: black;
    -webkit-filter: blur(20px);
    position: absolute;top: 190px;left: 565px;
    z-index: 1;
    border-radius: 30px;
    display: none;
}
.video_bofang{
    position: absolute;top: 200px;left: 580px;
    z-index: 1;
    display: none;
}
.video_bofang:hover{
    opacity: 0.8;
    cursor: pointer;
}

.vjs-volume-control{
    display: none;
    top: 100%;
    left: 25px;
    z-index: 1;
    height: 60px!important;
    line-height: 60px!important;
    width: 200px!important;
}
.vjs-volume-control>div{
    margin-top: 16px!important;
    width: 200px!important;
    height: 28px!important;
    background-color: #D8D8D8!important;
    font-size: 14px;
    color: #FFFFFF;
}
.vjs-volume-control>div>div:first-child{
    height: 28px;
    width: 200px;
    background: none;
    background-color: #7C828C!important;
}
.vjs-volume-control>div>div:last-child{
    display: none!important;
}
.vjs-mute-control{
    left: 10px;
    top: 100%;
    z-index: 1;
    width:20px!important;
    height:60px!important;
}
.vjs-volume-bar{
    transition:  none;
}

.vjs-tt-cue{
    font-size: 18px!important;
    letter-spacing: 1px;
}
.video-js .vjs-text-track{
    background-color: transparent!important;
}
.vjs-tt-cue{
    display: inline-block;
    background-color: rgba(64, 64, 64, 0.8) !important;
    padding: 7px 30px;
}
.vjs-subtitles-button{
    display: none;
}
.vjs-current-time,.vjs-time-divider,.vjs-duration{
    display: block;
}
.vjs-progress-control{
    width:60%!important;
    top: 12px!important;
    left:20%!important;
    border-radius: 10px!important;
}
.vjs-load-progress{
    border-radius: 10px!important;
    background-color: #FFFFFF!important;
    opacity: 0.4;
}
.vjs-progress-holder{
    border-radius: 10px!important;
}
.vjs-control-bar{
    background-color: transparent!important;
}
.vjs-seek-handle{
    background-color: #FFFFFF!important;
    border-radius: 10px!important;
}
.vjs-play-progress{
    background-color: #00BCD4!important;
    background-image: none!important;
    border-radius: 10px!important;
}
.vjs-progress-control{
    width: auto;
}