<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/sweet-alert.css"/>
</head>
<body>

<button onclick="asd()">爱仕达</button>

<script>
    function asd(){
        swal({
            title: "注册成功！",
            text: "恭喜您成功注册智量酷，请开始您的IT之旅吧~",
            type: "success",
            //showCancelButton: true,
            // confirmButtonColor: "#DD6B55",
            confirmButtonColor: "#4DB6AC",
            confirmButtonText: "GO~",
            showCancelButton: false,
            // cancelButtonColor: "#4DB6AC",
            // cancelButtonText: "完成",
            closeOnConfirm: false
        },
        function(){
            window.location.reload(true);
        });
    }
</script>

<script src="js/sweet-alert.js"></script>
</body>
</html>