<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-2.1.4.js"></script>
    <link href="css/ccvalidate.css" rel="stylesheet" type="text/css" />

    <script>
        $(document).ready(function() {
            $('.cc-ddl-contents').css('display', 'none');
            $('.cc-ddl-header').toggle(function() {
                toggleContents($(this).parent().find('.cc-ddl-contents'));
            }, function() { toggleContents($(this).parent().find('.cc-ddl-contents')); });
            function toggleContents(el) {
                $('.cc-ddl-header').css({
                    "border-radius":"10px",
                    "background-color":"#EEEEEE",
                    "width":"273px",
                    "height":"40px",
                    "line-height":"40px",
                    "border":"none"
                });
                $('.cc-ddl-title').css({
                    "background":"url(imgs/select_2.jpg) no-repeat right"
                });

                $(el).parent().find('.cc-ddl-header').css({
                    "border-radius":"10px 10px 0px 0px",
                    "background-color":"#FFFFFF",
                    "width":"269px",
                    "height":"36px",
                    "line-height":"36px",
                    "border":"2px solid #EEEEEE"
                });
                $(el).parent().find(".cc-ddl-title").css({
//                    "background":"url(imgs/select_1.jpg) no-repeat right"
                });
                $('.cc-ddl-contents').css('display', 'none');
                if (el.css('display') == 'none') el.fadeIn("fast");
                else el.fadeOut("fast");
            }
            $('.cc-ddl-contents a').click(function() {
                $(this).parent().parent().find('.cc-ddl-o select').attr('selectedIndex', $(this).parent().find('a').index(this));
                $(this).parent().parent().find('.cc-ddl-title').html($(this).html());
                $(this).parent().parent().find('.cc-ddl-contents').fadeOut("fast");
                $(this).parent().parent().find('.cc-ddl-header').css({
                    "border-radius":"10px",
                    "background-color":"#EEEEEE",
                    "width":"273px",
                    "height":"40px",
                    "line-height":"40px",
                    "border":"none"
                });
                $(this).parent().parent().find('.cc-ddl-title').css({
                    "background":"url(imgs/select_2.jpg) no-repeat right"
                });
            });
            $(document).click(function() {
                $('.cc-ddl-contents').fadeOut("fast");
                $('.cc-ddl-header').css({
                    "border-radius":"10px",
                    "background-color":"#EEEEEE",
                    "width":"273px",
                    "height":"40px",
                    "line-height":"40px",
                    "border":"none"
                });
                $('.cc-ddl-title').css({
                    "background":"url(imgs/select_2.jpg) no-repeat right"
                });
            });
        });

</script>
</head>
<body>
<div class="cc-ddl" >
    <div class="cc-ddl-o">
        <select name="year">
            <option value="HighSchool">高中以下</option>
            <option value="College">大专</option>
            <option value="Undergraduate">本科</option>
            <option value="Master">硕士</option>
            <option value="Doctor">博士</option>
        </select>
    </div>
    <div class="cc-ddl-header">
        <div class="cc-ddl-title">请选择</div>
    </div>
    <div class="cc-ddl-contents" >
        <a href="javascript:return void(0)">高中以下</a> <a href="javascript:return void(0)">大专</a>
        <a href="javascript:return void(0)">本科</a> <a href="javascript:return void(0)">硕士</a>
        <a href="javascript:return void(0)">博士</a>
    </div>
</div>

</body>
</html>