<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>UEditor</title>
    </head>
    <body>
        <div style="width:99%">
            <form action="/test1" method="post">
                标题：<input type="text" name="title" style="width:90%"/><br/>
                内容：
                <textarea id="container" name="content" type="text/plain"></textarea><br/><!--加载编辑器的容器-->
                <input type="submit" value="提交" />
            </form>
        </div>
    </body>
</html>
<script type="text/javascript" src="/static/utf8-php/ueditor.config.js"></script><!-- 配置文件 -->
<script type="text/javascript" src="/static/utf8-php/ueditor.all.js"></script><!-- 编辑器源码文件 -->
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor("container",{toolbars:[
        [
            'insertcode', //代码语言
            'bold', //加粗
            'italic', //斜体
            'underline', //下划线
            'undo', //撤销
            'redo', //重做
            'link', //超链接
            'unlink', //取消链接
            'insertimage', //多图上传
            'emotion', //表情
            'forecolor', //字体颜色
            'insertorderedlist', //有序列表
            'insertunorderedlist', //无序列表
            'preview', //预览
        ]
    ]});
</script>
