<div class="container">
    <div>
{#        <a href="#"><img src="/static/svg/wechat1.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/facebook1.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/twitter1.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/weibo1.svg" alt=""/></a>#}
        <div class="bdsharebuttonbox"><a href="#" class="bds_tsina1" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin1" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_fbook1" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi1" data-cmd="twi" title="分享到Twitter"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    </div>
    <ul>
        <li><a href="#">隐私条例</a></li>
        <li><a href="#">关于智量酷</a></li>
        <li><a href="#">条款声明</a></li>
    </ul>
    <div>
        <span>&copy;2017 智量酷.Inc.</span>
    </div>
</div>