<div class="container">
    <div>
        <a href="#"><img src="/static/svg/wechat1.svg" alt=""/></a>
        <a href="#"><img src="/static/svg/facebook1.svg" alt=""/></a>
        <a href="#"><img src="/static/svg/linkedin1.svg" alt=""/></a>
        <a href="#"><img src="/static/svg/g1.svg" alt=""/></a>
        <a href="#"><img src="/static/svg/twitter1.svg" alt=""/></a>
        <a href="#"><img src="/static/svg/weibo1.svg" alt=""/></a>
    </div>
    <ul>
        <li><a href="#">隐私条例</a></li>
        <li><a href="#">关于智量酷</a></li>
        <li><a href="#">条款声明</a></li>
    </ul>
    <div>
        <span>&copy;2016 荣新科技.Inc.</span>
    </div>
</div>