<div class="container">
    <div>
        <h1>VFast Online</h1>
        <p>&copy;2017 智量酷.Inc.</p>
    </div>
    <ul>
        <li><a href="#">关于我们</a></li>
        <li><a href="#">HR 注册</a></li>
        <li><a href="#">条款</a></li>
        <li><a href="#">隐私声明</a></li>
    </ul>
    <ul>
        <li><a href="#">加入讲师</a></li>
        <li><a href="#">宣传资料</a></li>
        <li><a href="#">推荐优惠</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
    <div>
{#        <a href="#"><img src="/static/svg/wechat.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/facebook.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/linkedin.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/g.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/twitter.svg" alt=""/></a>#}
{#        <a href="#"><img src="/static/svg/weibo.svg" alt=""/></a>#}
        <div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    </div>
</div>