<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问卷调查列表页面</title>
    {% include "head.html" %}
    <style>
        .inspect-body {
            text-align: center;
            width: 500px;
            height: auto;
            margin: 100px auto 0;
            position: absolute;
            left:0;
            right:0;
            top: 0;
            bottom: 0;
        }
        .inspect-ul>li {
            width: 500px;
            height:40px;
        }


    </style>
</head>
<body>
 <main class="main-wrap">
    <header id="navbar1" class="navbar1">{% include "navbar.html" %}</header>
    <div class="inspect-body">
        <ul class="inspect-ul">
{#            <li><a href="/inspect/1"><p class="bg-info ">你好时代峻峰达康书记发</p></a></li>#}
            {% for inspect in inspects %}
                 <li><a href="/inspect/{{ inspect.id }}"><p class="bg-info ">{{ inspect.name }}</p></a></li>
            {% endfor %}
        </ul>

    </div>
     <footer class="footer_curr" id="footer_curr">{% include "footer.html" %}</footer></div>
</main>

{% include "search_div.html" %}
{% include "feedback.html" %}
</body>
{% include "commonJS.html" %}
</html>