<div class="login_left_div" id="login_left_div">
    <div id="login_left_div_div" class="login_left_div_div">
        <p>用户名/邮箱</p>
        <input type="text" class="input_text" id="username" name="username" tabindex="1" placeholder="请输入您的用户名"/>
        <span id="usernameSpan"></span>
        <p>密码<a href="#" tabindex="4">忘记密码了？</a></p>
        <input type="password" class="input_text" id="password" onkeydown="login_enter(event)" tabindex="2" placeholder="请输入您的密码"/>
        <span id="passwordSpan"></span>
        <button class="login" onclick="login()" tabindex="3">登陆</button>
    </div>
    <div class="login_reg_svg login_svg" id="login_reg_svg" onclick="change_reg()">
        <img id="login_reg_img" src="/static/svg/regSVG.svg" alt=""/>
    </div>
</div>