<div class="head_cont" id="head_cont">
    <div class="container">
        {% if 0 %}
        <header id="not_logged_in" class="not_logged_in">
            <a class="navLeft_a" href="../static/index.html">VFast Online</a>
            <div>
                <ul>
                    <li><a href="learning_path.html">学习路线</a></li>
                    <li><a href="Course_library.html">课程库</a></li>
                    <li onclick="login_show()" data-toggle="modal" data-target="#myModal">
                        登录
                    </li>
                </ul>
            </div>
        </header>
        {% else %}
        <header id="logins" class="logins">
            <nav class="navLeft">
                <ul>
                    <li>
                        <a class="navLeft_a" href="personal_index.html" target="_top">
                            VFast Online
                        </a>
                    </li>
                    <li><a href="learning_path.html">学习路线</a></li>
                    <li><a href="Course_library.html">课程库</a></li>
                    <li><a href="#">社区</a></li>
                </ul>
            </nav>
            <nav class="navRight">
                <ul>
                    <li>
                        ??
                    </li>
                    <li class="navshuxian"></li>
                    <li>470</li>
                    <li class="headPLI">
                        <a href="personal_info.html" >
                            <svg width="32px" height="32px" viewBox="1220 19 32 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- 头像图标 -->
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="头像" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1220.000000, 19.000000)">
                                    <path d="M15.875969,0.950617284 C7.11243411,0.950617284 0,7.97551169 0,16.6311852 C0,25.2868586 7.11243411,32.311753 15.875969,32.311753 C24.6395039,32.311753 31.751938,25.2868586 31.751938,16.6311852 C31.751938,7.97551169 24.6395039,0.950617284 15.875969,0.950617284 L15.875969,0.950617284 Z" id="Shape" fill="#FAFAFA"></path>
                                    <path d="M15.875969,27.921194 C11.9069767,27.921194 8.3983876,25.9140813 6.3503876,22.8720512 C6.3980155,19.7516182 12.7007752,18.0424363 15.875969,18.0424363 C19.0352868,18.0424363 25.3539225,19.7516182 25.4015504,22.8720512 C23.3535504,25.9140813 19.8449612,27.921194 15.875969,27.921194 L15.875969,27.921194 Z" id="Path" fill="#546E7A"></path>
                                    <path d="M20.6387597,10.358958 C20.6387597,12.9619323 18.5113798,15.0631284 15.875969,15.0631284 C13.2405581,15.0631284 11.1131783,12.9619323 11.1131783,10.358958 C11.1131783,7.75598374 13.2405581,5.65478764 15.875969,5.65478764 C18.5113798,5.65478764 20.6387597,7.75598374 20.6387597,10.358958 Z" id="Path" fill="#546E7A"></path>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="remind">
                        <a href="#">
                            <svg width="32px" height="40px" viewBox="1285 15 32 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- 提醒图标 -->
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <path d="M1301,54.5199887 C1303.2,54.5199887 1305,52.7421431 1305,50.5692207 L1297,50.5692207 C1297,52.7421431 1298.78,54.5199887 1301,54.5199887 L1301,54.5199887 Z M1313,42.6676845 L1313,32.7907643 C1313,26.7263353 1309.72,21.6495983 1304,20.3063372 L1304,18.9630761 C1304,17.3235073 1302.66,16 1301,16 C1299.34,16 1298,17.3235073 1298,18.9630761 L1298,20.3063372 C1292.26,21.6495983 1289,26.7065815 1289,32.7907643 L1289,42.6676845 L1285,46.6184526 L1285,48.5938366 L1317,48.5938366 L1317,46.6184526 L1313,42.6676845 L1313,42.6676845 Z" id="Shape" stroke="none" fill="#8C96A5" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        {% endif %}
    </div>
</div>
<!-- 模态框（Modal） -->
{% if True %}
<section>
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modal_content">
                <div class="modal_left" id="modal_left"></div>
                <div class="modal_right" id="modal_right"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</section>
{% endif %}