<div class="head_cont" id="head_cont">
    <div class="container">
        <header id="not_logged_in" class="not_logged_in">
            <a class="navLeft_a" href="index.html">VFast Online</a>
            <div>
                <ul>
                    <li><a href="learning_path.html">学习路线</a></li>
                    <li><a href="Course_library.html">课程库</a></li>
                    <li onclick="login_show()" data-toggle="modal" data-target="#myModal">
                        登录
                    </li>
                </ul>
            </div>
        </header>
    </div>
</div>
<!-- 模态框（Modal） -->
<section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal_left">
                    <h4>欢迎来到智量酷！</h4>
                    <h4>开始之前、让我们对你有一点点了解！</h4>
                    <div>
                        <div>1</div>
                        <h4>设置下你的个人信息</h4>
                        <p>让我们知道你是谁、如何与你联系</p>
                        <p>放心我们不会给你发送任何垃圾邮件、保证！</p>
                    </div>
                    <div>
                        <div>1</div>
                        <h4>设置下你的个人信息</h4>
                        <p>让我们知道你是谁、如何与你联系</p>
                        <p>放心我们不会给你发送任何垃圾邮件、保证！</p>
                    </div>
                </div>
                <div class="modal_right_1">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <button type="button" class="btn">
                        继续
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</section>