<div class="head_cont" id="head_cont">
    <div class="container">
        {% if request.session.login != True  %}
        <header id="not_logged_in" class="not_logged_in">
            <a class="navLeft_a" href="../static/index.html">VFast Online</a>
            <div>
                <ul>
                    <li><a href="learning_path.html">学习路线</a></li>
                    <li><a href="Course_library.html">课程库</a></li>
                    <li onclick="login_show()" data-toggle="modal" data-target="#myModal">
                        登录
                    </li>
                </ul>
            </div>
        </header>
        {% else %}
        <header id="logins" class="logins">
            <nav class="navLeft">
                <ul>
                    <li>
                        <a class="navLeft_a" href="personal_index.html" target="_top">
                            VFast Online
                        </a>
                    </li>
                    <li><a href="learning_path.html">学习路线</a></li>
                    <li><a href="Course_library.html">课程库</a></li>
                    <li><a href="#">社区</a></li>
                </ul>
            </nav>
            <nav class="navRight">
                <ul>
                    <li>
                        ??
                    </li>
                    <li class="navshuxian"></li>
                    <li>470</li>
                    <li class="headPLI">
                        <a href="personal_info.html" >
                            <img src="../static/head/defaultIMG.svg" alt="">
                        </a>
                    </li>
                    <li class="remind">
                        <a href="#">
                            <svg width="32px" height="40px" viewBox="1285 15 32 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- 提醒图标 -->
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <path d="M1301,54.5199887 C1303.2,54.5199887 1305,52.7421431 1305,50.5692207 L1297,50.5692207 C1297,52.7421431 1298.78,54.5199887 1301,54.5199887 L1301,54.5199887 Z M1313,42.6676845 L1313,32.7907643 C1313,26.7263353 1309.72,21.6495983 1304,20.3063372 L1304,18.9630761 C1304,17.3235073 1302.66,16 1301,16 C1299.34,16 1298,17.3235073 1298,18.9630761 L1298,20.3063372 C1292.26,21.6495983 1289,26.7065815 1289,32.7907643 L1289,42.6676845 L1285,46.6184526 L1285,48.5938366 L1317,48.5938366 L1317,46.6184526 L1313,42.6676845 L1313,42.6676845 Z" id="Shape" stroke="none" fill="#8C96A5" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        {% endif %}
    </div>
</div>
<!-- 模态框（Modal） -->
{% if request.session.login != True %}
<section>
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modal_content">
                <div class="modal_left" id="modal_left"></div>
                <div class="modal_right" id="modal_right"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</section>
{% endif %}