<div class="reg_left_div">
    <div id="reg_left_div_div" class="reg_left_div_div">
        <h4>欢迎来到智量酷！</h4>
        <h4>开始之前、让我们对你有一点点了解！</h4>
        <div>
            <h2 id="modal_left_h2_1" class="modal_left_shadow">1</h2>
            <div>
                <h4>设置下你的个人信息</h4>
                <p>让我们知道你是谁、如何与你联系</p>
                <p>放心我们不会给你发送任何垃圾邮件、保证！</p>
            </div>
        </div>
        <div>
            <h2 id="modal_left_h2_2">2</h2>
            <div>
                <h4>让荣欣在线更适合你</h4>
                <p>描述一下你的基本情况</p>
                <p>以便我们为你提供一个更加个人化的体验。</p>
            </div>
        </div>
        <section>
            <img align="center" src="../static/svg/infoLock.svg" alt=""/>
            <p>你的全部个人信息将会被存储在一个安全的加密服务器中</p>
            <p>我们不会将你的个人信息提供给任何第三方服务。</p>
        </section>
    </div>
    <section class="login_reg_svg_section">
        <div class="login_reg_svg" id="login_reg_svg" onclick="change_login()">
            <img id="login_reg_img" src="../static/svg/loginSVG.svg" alt=""/>
        </div>
    </section>
</div>