<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>结果页</title>
    <script type="text/javascript" src="/static/utf8-php/ueditor.parse.js"></script>
</head>

<body>
    <div id="content" class="">
        {{ content|safe}}
        {{ title|safe}}
    </div>
    <div id="content" class="">
        {{ content|safe}}
        {{ title|safe}}
    </div>
    <div id="content" class="">
        {{ content|safe}}
        {{ title|safe}}
    </div>
    <form action=""></form>
{#    <p><b>标题：</b>{{ content|safe }}</p>#}
{#    <p><b>内容：</b>{{ title|safe }}</p>#}
</body>
<script>
    uParse("#content",{
        rootPath: '/static/utf8-php'
    });
</script>
</html>