<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for video in videos %}
        {{ video.name }}<br>
    {% endfor %}

    {% if videos.has_previous %}
        <a class='paginator' title='上一页' href='?page={{ videos.previous_page_number }}'><span>&lt;&lt;</span></a>
    {% endif %}
    {% for page in blogs.paginator.page_range %}
        {% if page == videos.number %}
            <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
        {% else %}
            <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
        {% endif %}
    {% endfor %}
    {% if blogs.has_next %}
        <a class='paginator' title='下一页' href='?page={{ blogs.next_page_number }}'><span>&gt;&gt;</span></a>
    {% endif %}

</body>
</html>