<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "head.html" %}
</head>
<style>
    .juzhong{
        width: 1200px;
        margin: 0 auto;
    }
    .juzhong>div{
        margin-top: 25px;
    }

</style>
<body>
 <main class="main-wrap">
    <header id="navbar1" class="navbar1">{% include "navbar.html" %}</header>
     <div class="juzhong">
         <div>
             <img style="width: 1200px" src="/static/imgs/11.png">
         </div>
         <div>
             <img style="width: 1200px" src="/static/imgs/12.png">
         </div>
         <div>
             <img style="width: 1200px" src="/static/imgs/13.png">
         </div>
     </div>
 <div class="slideDIV" style="height:150px;"></div>
          <footer class="footer_curr" id="footer_curr">{% include "footer.html" %}</footer></div>
</main>
<form id="fileForm"></form>
{% include "search_div.html" %}
{% include "feedback.html" %}
</body>
{% include "commonJS.html" %}
</html>