<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "head.html" %}
</head>
<body>
       <main class="main-wrap">
         <header id="navbar1" class="navbar1">{% include "navbar.html" %}</header>
          <div style="height: 50px"></div>
        <ul>
            <li>用户</li>
            <li>昨日得分</li>
            <li>新课程进度</li>
            <li>昨日观看视频总时长</li>
            <li>昨日答题正确率</li>
            <li>线路完成</li>
            <li>今日学习计划</li>
        </ul>
       </main>
</body>
{% include "commonJS.html" %}
</html>