<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>勋章测试页面  🎖</h2>
    勋章添加<br>
    <form action="{% url 'badgeadd' %}" method="post" enctype="multipart/form-data">
        勋章名字: <input type="text" name="badgename"><br>
        勋章图片: <input type="file" name="badgeimg"><br>
        关联课程: <input type="text" name="cid"><br>
        <input type="submit" value="submit">
    </form>

    <br><br><br><br>勋章查询<br>
    <form action="{% url 'badgeget' %}" method="get">
        检索: <input type="text" name="id"><br>
        名字: <input type="text" name='name'><br>
        <input type="submit", value="submit">
    </form>
</body>
</html>