<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/test.js"></script>
    <link href="/static/css/test.css" rel="stylesheet">
</head>
<body>
    <h2>test page</h2>

    <form action="/u/hrreg/" method="post" enctype="multipart/form-data">
        email: <input type="text" name="email"><br>
        gongpai: <input type="file" name="gongpai"><br>
        <input type="submit" value="submit"><br>
    </form>

    <h2>courses</h2>
    {% for c in courses %}
        {{ c.name }} {{ c.id }} {{ c.totaltime }} {{ c.tech.name }} <br>
    {% endfor %}
</body>
</html>